// Workflow parameters
params.output = "/scratch/hayer_mg_test/amrplus_results"
params.kraken_db = "/data/projects/banks/kraken2/nt/21-09/nt/"
params.card_db = "/data2/projects/ARCAHE/databases/CARD/card.json"

// Nextflow configuration options
workDir = '/scratch/hayer_mg_test/nf_amrplus_tmp'
resume = true

profiles {
  itrop_slurm {
    process.executor = 'slurm'
    includeConfig "config/itrop_slurm.config"
//    process.container = 'shub://meglab-metagenomics/amrplusplus_v2'
  }
}
