singularity {
    /* Enables Singularity container execution by default */
    enabled = false
    cacheDir = "$PWD"
    /* Enable auto-mounting of host paths (requires user bind control feature enabled */
    autoMounts = true
}

env {
    /* These following tools are required to run AmrPlusPlus*/
    JAVA = 'java'
    TRIMMOMATIC = '/usr/local/Trimmomatic-0.38/trimmomatic-0.38.jar'
    PYTHON3 = "python3"
    BWA = "bwa"
    SAMTOOLS = "samtools"
    BEDTOOLS = 	"bedtools"
    RESISTOME = 	"resistome"
    RAREFACTION = 	"rarefaction"
    /* These next tools are optional depending on which analyses you want to run */
    KRAKEN2 = "kraken2"
    RGI = "rgi"
    DIAMOND = "diamond"
}


process {
  process.executor='slurm'
//  process.container = 'shub://meglab-metagenomics/amrplusplus_v2'
  maxForks = 10                 // The maximum number of forks a single process is allowed to spawn
  withName:RunQC {
      process.qos='normal'
      clusterOptions='--job-name=QC%j --time=23:59:00'
      module = 'bioinfo/Trimmomatic/default'
      cpus = '4'
  }
  withName:QCStats {
      process.qos='normal'
      clusterOptions='--job-name=QCstats%j --time=05:00:00'
      module = 'system/python/3.7.2'
      cpus = '1'
  }
  withName:fastp {
      process.qos='normal'
      clusterOptions='--job-name=hostindex%j --time=23:59:00'
      module = 'bioinfo/fastp/0.20.1'
      cpus = '4'
  }
  withName:BuildHostIndex {
      process.qos='normal'
      clusterOptions='--job-name=hostindex%j --time=23:59:00'
      module = 'bioinfo/bwa/0.7.17'
      cpus = '4'
  }
  withName:BuildAMRIndex {
      process.qos='normal'
      clusterOptions='--job-name=AMRindex%j --time=23:59:00'
      module = 'bioinfo/bwa/0.7.17'
      cpus = '4'
  }
  withName:DedupReads {
      process.qos='normal'
      clusterOptions='--job-name=dedup%j --time=23:59:00'
      cpus = '4'
  }
  withName:AlignReadsToHost {
      process.time = '20:00:00'
      process.qos='normal'
      clusterOptions='--job-name=AlignHost%j --time=23:59:00'
      module = 'bioinfo/bwa/0.7.17'
      cpus = '8'
  }
  withName:RemoveHostDNA  {
      process.qos='normal'
      clusterOptions='--job-name=RMHost%j --time=23:59:00'
      module = 'bioinfo/samtools/default'
      cpus = '4'
  }
  withName:HostRemovalStats {
      process.qos='normal'
      clusterOptions='--job-name=hoststats%j --time=05:00:00'
      module = 'system/python/3.7.2'
      cpus = '1'
  }
  withName:NonHostReads {
      process.qos='normal'
      clusterOptions='--job-name=BAMFastq%j --time=23:59:00'
      module = 'bioinfo/bedtools/2.26.0 '
      cpus = '4'
  }
  withName:RunKraken {
      clusterOptions='--job-name=kraken%j --time=23:59:00'
      module = 'bioinfo/kraken2/2.1.1'
      cpus = '4'
  }

  withName:AlignDedupSNPToAMR {
      process.qos='normal'
      clusterOptions='--job-name=alignAMR%j --time=23:59:00'
  }
  withName:AlignToAMR {
      process.qos='normal'
      clusterOptions='--job-name=alignAMR%j --time=23:59:00'
      module = 'bioinfo/samtools/default'
      module = 'bioinfo/bwa/0.7.17'
      cpus = '4'
  }
  withName:DedupRunResistome {
      process.qos='normal'
      clusterOptions='--job-name=resistome%j --time=23:59:00'
  }
  withName:RunResistome {
      process.qos='normal'
      clusterOptions='--job-name=resistome%j --time=23:59:00'
      cpus = '4'
  }
  withName:RunFreebayes {
      process.qos='normal'
      clusterOptions='--job-name=freebayes%j --time=23:59:00'
  }
  withName:RunRarefaction {
      process.qos='normal'
      clusterOptions='--job-name=rarefaction%j --time=23:59:00'
      cpus = '2'
  }
  withName:RunSNPFinder {
      process.qos='normal'
      clusterOptions='--job-name=SNPfinder%j --time=23:59:00'
  }
  withName:ResistomeResults {
      process.qos='normal'
      clusterOptions='--job-name=LtoWide%j --time=05:00:00'
      module = 'system/python/3.7.2'
      cpus = '1'
  }

  withName:SamDedupRunResistome {
      process.qos='normal'
      clusterOptions='--job-name=SamDedupSNPresistome%j --time=23:59:00'
      cpus = '1'
  }
  withName:SamDedupResistomeResults {
      process.qos='normal'
      clusterOptions='--job-name=SamDedup_LongToWide%j --time=5:00:00'
      module = 'system/python/3.7.2'
      cpus = '1'
  }

  withName:ExtractSNP {
      process.qos='normal'
      clusterOptions='--job-name=ExtractSNP%j --time=23:59:00'
      cpus = '1'
  }
  withName:RunRGI {
      process.qos='normal'
      //container = 'shub://EnriqueDoster/bioinformatic-nextflow-pipelines:rgi'
      clusterOptions='--job-name=RunRGI%j --time=23:59:00'
      module = 'system/Miniconda3/1.0'
      cpus = '4'
  }
  withName:SNPconfirmation {
      process.qos='normal'
      clusterOptions='--job-name=SNPconfirmation%j --time=23:59:00'
      module = 'system/python/3.7.2'
      cpus = '1'
  }
  withName:Confirmed_AMR_hits {
      process.qos='normal'
      clusterOptions='--job-name=Confirmed_AMR_hits --time=23:59:00'
      module = 'system/python/3.7.2'
      cpus = '1'
  }
  withName:Confirmed_ResistomeResults {
      process.qos='normal'
      clusterOptions='--job-name=Confirmed_ResistomeResults --time=23:59:00'
      module = 'system/python/3.7.2'
      cpus = '1'
  }
  withName:ExtractDedupSNP {
      process.qos='normal'
      clusterOptions='--job-name=ExtractDedupSNP --time=23:59:00'
      cpus = '1'
  }
  withName:RunDedupRGI {
      process.qos='normal'
      container = 'shub://EnriqueDoster/bioinformatic-nextflow-pipelines:rgi'
      clusterOptions='--job-name=RunDedupRGI%j --time=23:59:00'
      cpus = '4'
  }
  withName:DedupSNPconfirmation {
      process.qos='normal'
      clusterOptions='--job-name=DedupSNPconfirmation --time=23:59:00'
      module = 'system/python/3.7.2'
      cpus = '1'
  }
  withName:ConfirmDedupAMRHits {
      process.qos='normal'
      clusterOptions='--job-name=ConfirmDedupAMRHits --time=23:59:00'
      module = 'system/python/3.7.2'
      cpus = '1'
  }
  withName:DedupSNPConfirmed_ResistomeResults {
      process.qos='normal'
      clusterOptions='--job-name=DedupSNPConfirmed_ResistomeResults --time=23:59:00'
      module = 'system/python/3.7.2'
      cpus = '1'
  }
}
